@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster-Regular.ttf');
}

:root {
  --hue: 190;
  --saturation: 75%;
  --notificationsHue: 36;
  --notificationsSaturation: 100%;
  --gridSize: 10px;
  --borderRadius: 8px;
  --maxWidth: calc(var(--gridSize) * 50);
  --patina: hsl(var(--hue), var(--saturation), 4%);
  --appBackgroundColor: hsla(var(--hue), var(--saturation), 4%, 0.5);
  --appBackground: linear-gradient(black, hsla(var(--hue), var(--saturation), 4%, 0.5) 600px), repeating-linear-gradient(90deg, hsl(var(--hue), var(--saturation), 34%) 0px, hsl(var(--hue), var(--saturation), 34%) 40px, hsl(var(--hue), var(--saturation), 31%) 40px, hsl(var(--hue), var(--saturation), 31%) 80px), hsl(var(--hue), 91%, 34%);
  --splashBackground: repeating-linear-gradient(90deg, hsl(var(--hue), var(--saturation), 6%) 0px, hsl(var(--hue), var(--saturation), 6%) 40px, hsl(var(--hue), var(--saturation), 4%) 40px, hsl(var(--hue), var(--saturation), 4%) 80px), hsl(var(--hue), var(--saturation), 34%);
  --appColor: hsl(var(--hue), var(--saturation), 75%);
  --darkAppColor: hsl(var(--hue), var(--saturation), 45%);
  --mainFont: 'Dosis', sans-serif;
  --logoFont: Lobster;
  --listTop: 221px;
  --detailsTop: 101px;
  --listHeaderTop: 184px;
  --listHeaderBackground: hsla(var(--hue), var(--saturation), 20%, 1);
  --modalTop: 20px;
  --modalBackground: hsl(var(--hue), var(--saturation), 15%);
  --lessonBackground: hsl(var(--hue), var(--saturation), 11%);
  --listCategoryHeaderBorderColor: hsl(var(--hue), var(--saturation), 64%);
  --listItemBackground: repeating-linear-gradient(45deg, hsl(var(--hue), var(--saturation), 4%) 0px, hsl(var(--hue), var(--saturation), 4%) 10px, hsl(var(--hue), var(--saturation), 3%) 10px, hsl(var(--hue), var(--saturation), 3%) 20px);
  --goldBackingFlash: repeating-linear-gradient(90deg, hsl(var(--hue), var(--saturation), 1%) 0px, hsl(var(--hue), var(--saturation), 1%) 10px, hsl(var(--hue), var(--saturation), 3%) 10px, hsl(var(--hue), var(--saturation), 3%) 20px);
  --listItemBackgroundHover: hsl(var(--hue), var(--saturation), 5%) 0%;
  --listItemColor: hsl(var(--hue), var(--saturation), 75%);
  --goldFlashColor: hsla(var(--hue), var(--saturation), 27%, 0.5);
  --upColor: rgb(0, 255, 0);
  --downColor: rgb(255, 0, 64);
  --accentColor: hsl(158, 100%, 50%);
  --reallyDarkMoneyColor: hsl(158, 100%, 4%);
  --standardPadding: calc(var(--gridSize) * 2);
  --standardWidth: calc(100% - calc(var(--gridSize) * 2));
  --notificationsHeight: 11em;
}

html,
body,
app,
splash,
tutorial {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

html,
body {
  overscroll-behavior-y: none;
  overflow-y: scroll;
}

body {
  width: var(--standardWidth);
  margin: 0px auto;
  padding: 0px;
  font-family: var(--mainFont);
  font-size: 1em;
  font-weight: 600;
  color: var(--appColor);
  background-color: var(--patina);
  background-size: cover;
  font-display: block;
  background: var(--appBackground) center;
  /*url(../wormholes/images/big_2.jpg);*/
  /* background-blend-mode: luminosity; */
  max-width: var(--maxWidth);
}

body::-webkit-scrollbar,
app::-webkit-scrollbar,
main::-webkit-scrollbar,
listings::-webkit-scrollbar,
page::-webkit-scrollbar,
gameover::-webkit-scrollbar,
detail::-webkit-scrollbar,
howto::-webkit-scrollbar,
tutorial::-webkit-scrollbar,
lesson::-webkit-scrollbar,
settings::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  touch-action: auto;
  scroll-behavior: smooth;
}

[v-cloak] {
  opacity: 0;
  transition: 250ms ease-out opacity;
}

splash,
tutorial {
  display: block;
  position: fixed;
  z-index: 2000;
  height: calc(100%);
  text-align: center;
  opacity: 1;
  left: 0;
  top: 0;
  background: var(--splashBackground);
  transition: 250ms ease-out all;
  pointer-events: all;
}

section {
  display: block;
  width: 100%;
}

/* TUTORIAL CONDITIONS */

tutorial {
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0);
  padding-top: 20px;
  margin-top: -200px;

  p {
    color: var(--accentColor);
  }
}

.highlight tutorial {
  margin-top: 0px;
}

app.highlight tutorial {
  opacity: 1;
  pointer-events: all;
}

app.highlight listheader,
app.highlight listings img,
app.highlight listings commodity.categoryHeader,
app.highlight listings name,
app.highlight listings currentPrice,
app.highlight listings units,
app.highlight listings history,
app.highlight info bank,
app.highlight info speedcontrols button,
app.highlight info subhead,
app.highlight info networth {
  opacity: 0.2;
}

app.highlight.Listings listings commodity:nth-child(3) img,
app.highlight.Listings listings commodity:nth-child(3) name,
app.highlight.Listings listings commodity:nth-child(3) currentPrice,
app.highlight.Listings listings commodity:nth-child(3) units,
app.highlight.Listings listings commodity:nth-child(3) history,
app.highlight.Sparkline listings history,
app.highlight.PlayPause info speedcontrols button.pause,
app.highlight.Speed info speedcontrols button.speed,
app.highlight.Bank info bank,
app.highlight.Networth info subhead,
app.highlight.Networth info networth,
app.highlight.Listheader listheader,
app.highlight.Navbar navbar {
  animation: 700ms ease-in-out 0s 0.5 blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  --webikit-animation: 700ms ease-in-out 0s 0.5 blink;
  --webikit-animation-iteration-count: infinite;
  --webikit-animation-direction: alternate;

  opacity: 1;
}

app.highlight navbar {
  opacity: 0;
}

app.highlight.PlayPause button.pause,
app.highlight.Speed button.speed {
  text-shadow: 0px 0px 4px var(--patina);
}

@keyframes blink {
  0% {
    opacity: 0.65;
  }

  100% {
    opacity: 1;
  }
}

/* END TUTORIAL CONDITIONS */

splash {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  margin: 0px auto;

  section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--gridSize));
    align-items: center;
  }

  logo {
    display: inline-block;
    width: 120px;
    height: 99.188px;
    mask-image: url(../images/big_tent_logo.svg);
    -webkit-mask-image: url(../images/big_tent_logo.svg);
    background: var(--appColor);
    margin-top: var(--gridSize);
    mask-size: 120px 99.188px;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: 120px 99.188px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
  }

  h1 {
    position: relative;
    width: 100%;
    margin: calc(var(--gridSize) * 4) 0px calc(var(--gridSize) * 4);
    font-size: 3.2em;
    font-weight: 100;
    color: var(--accentColor);
    max-width: none;
    margin-bottom: 0px;
  }

  tagline {
    display: block;
    color: white;
    pointer-events: none;
    margin-top: 0px;
  }

  p {
    pointer-events: none;
    padding: 0;
    margin: 0;
  }

  p b {
    color: var(--accentColor);
  }
}

splash button,
tutorial button {
  width: 300px;
  margin: 4px calc(var(--gridSize) * 10);
  pointer-events: all;
}

splash button:first-of-type,
tutorial button:first-of-type {
  margin: calc(var(--gridSize) * 4) calc(var(--gridSize) * 10) 4px;
}

splash.loaded {
  /* opacity: 0; */
  transform: translateY(100%);
  pointer-events: none;
}

splash.loaded button {
  pointer-events: none;
}

button,
select,
option,
input {
  font-family: var(--mainFont);
}

a {
  text-decoration: none;
  color: var(--accentColor);
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  user-select: none;
  -webkit-user-select: none;
}

p {
  line-height: 1.5em;
  user-select: none;
  -webkit-user-select: none;
}

h1 {
  position: fixed;
  width: var(--standardWidth);
  font-family: var(--logoFont);
  font-size: 220%;
  line-height: 100%;
  text-align: center;
  color: white;
  margin-top: calc(var(--gridSize) * 4);
  max-width: var(--maxWidth);
  margin-bottom: var(--gridSize);
  text-shadow: 0px 2px 0px black;
  font-display: block;
}

h2 {
  margin-bottom: 0px;
}

h2,
h3 {
  font-weight: 100;
  margin-top: 0px;
}

h3 {
  color: var(--appColor);
}

leftright {
  display: flex;
  width: calc(100%);
  margin: 0px;
  padding: 5px 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: calc(0.5 * var(--gridSize));
}

splash leftright {
  width: calc(100% - var(--gridSize) * 8);
  margin: 4px calc(var(--gridSize) * 4);
  padding: 0px;
  justify-content: space-between;
  gap: var(--gridSize);
}
splash leftright button,
splash leftright button:first-of-type {
  margin: 0px;
  width: 100%;
}

subhead {
  display: block;
  position: fixed;
  width: var(--standardWidth);
  font-size: 0.9em;
  text-align: center;
  color: hsl(var(--hue), var(--saturation), 75%);
  cursor: pointer;
  max-width: var(--maxWidth);
  top: calc(var(--gridSize) * 7);
}

button {
  display: block;
  padding: var(--gridSize);
  border: 1px solid var(--appColor);
  font-size: 120%;
  font-weight: bold;
  line-height: 100%;
  color: var(--appColor);
  cursor: pointer;
  border-radius: calc(var(--borderRadius) / 2);
  outline: none;
  background: transparent;
}

.disabled,
:disabled {
  opacity: 0.3;
  pointer-events: none;
}
.showSettings settings.disabled {
  pointer-events: none;
}

button.big {
  font-size: 1.6em;
}

button.secondary {
  font-family: var(--logoFont);
  font-weight: bold;
  color: var(--patina);
  background: var(--appColor);
}

button.tertiary {
  font-family: var(--logoFont);
  font-weight: bold;
}

button.secondary.first {
  margin-top: calc(var(--gridSize) * 2);
}

button.first.quit {
  margin-top: 40px;
  /* background-color: var(--downColor); */
  /* border-color: var(--downColor); */
  /* color: var(--downColor); */
  box-shadow: 0px 0px 10px hsla(var(--hue), var(--saturation), 50%, 1);
  /* color: white; */
}

@keyframes quit {
  0% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

speedControls {
  display: block;
  position: fixed;
  width: var(--standardWidth);
  line-height: 100%;
  pointer-events: none;
  max-width: var(--maxWidth);
}

speedControls button,
button.speed {
  float: right;
  width: calc(var(--gridSize) * 9);
  padding: var(--gridSize) 4px calc(var(--gridSize) * 2);
  border: none;
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  pointer-events: all;
  letter-spacing: 2px;
}

.paused button.speed,
.gameover button.speed {
  display: none;
}

.noneOwned button,
.watched button {
  width: 100%;
  margin-bottom: calc(var(--gridSize));
}

.noneOwned p,
.watched p {
  cursor: default;
}

button.pause,
bank {
  user-select: none;
  -webkit-user-select: none;

  display: block;
  position: fixed;
  font-weight: bold;
  top: 0px;
  /* color: cyan; */
}

bank span {
  display: inline-block;
  padding: calc(var(--gridSize) - 2px) calc(var(--gridSize) * 2);
  font-weight: bold;
  line-height: 120%;
  color: black;
  background: var(--accentColor);
  border-radius: 0px 0px 4px 4px;
  border-width: 0px 1px 1px 1px;
}

bank .settingsButton {
  text-align: right;
  color: var(--darkAppColor);
  /* margin-top: calc(var(--gridSize) * -2); */
  margin-top: calc(var(--listHeaderTop) - var(--gridSize) * 7);
}

@keyframes scaleDown {
  50% {
    transform: scale(1.07);
  }

  100% {
    transform: scale(1);
  }
}

bank p {
  font-size: 0.9em;
  color: var(--appColor);
  cursor: pointer;
  pointer-events: all;
  margin-top: 0px;
  padding-top: 8px;
}

button.pause {
  width: 120px;
  text-align: left;
  top: 0px;
  cursor: pointer;
}

button.pause span {
  display: inline-block;
  margin-top: -3px;
  /* font-family: monospace; */
  transform: translateY(-1px);
}

.paused info {
  opacity: 0;
}

.paused button.tiptimer {
  animation: 700ms ease-in-out 0s 1 fadeIn;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

bank {
  width: var(--standardWidth);
  line-height: 100%;
  text-align: center;
  color: var(--accentColor);
  max-width: var(--maxWidth);
  pointer-events: none;
}

label {
  margin: 0px;
  padding: 0px;
}

networth {
  display: block;
  position: fixed;
  user-select: none;
  -webkit-user-select: none;

  width: var(--standardWidth);
  font-size: 4em;
  line-height: 100%;
  text-align: center;
  color: var(--accentColor);
  cursor: default;
  max-width: var(--maxWidth);
  top: 1.4em;
}

networth.backing {
  opacity: 0;
}

networth.backing.subdued {
  opacity: 0;
}

loader {
  display: block;
  width: 100%;
}

.loaded loader {
  display: none;
}

main {
  height: inherit;
  padding-bottom: var(--standardPadding);
}

notifications {
  display: block;
  position: fixed;
  z-index: 100000;
  width: calc(100% - var(--gridSize) * 6);
  height: calc(var(--notificationsHeight) - 1em);
  margin: 0px 0px var(--gridSize) 0px;
  padding: 0px var(--standardPadding) var(--standardPadding);
  border: 1px solid hsl(var(--notificationsHue), var(--notificationsSaturation), 46%);
  font-weight: bold;
  text-align: center;
  color: var(--patina);
  transform: translateY(calc(-1 * var(--notificationsHeight) - 20px));
  transition-delay: 150ms background-color;
  border-width: 0px 1px 1px 1px;
  background-image: repeating-radial-gradient(circle, hsla(var(--notificationsHue), var(--notificationsSaturation), 60%) 0px, hsla(var(--notificationsHue), var(--notificationsSaturation), 60%) 10px, hsla(var(--notificationsHue), var(--notificationsSaturation), 58%) 10px, hsla(var(--notificationsHue), var(--notificationsSaturation), 58%) 20px);
  border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
  box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
  max-width: calc(var(--maxWidth) - var(--standardPadding) * 2);
  transition: 150ms ease-out all;
  /* border: none; */

  message {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(0.5 * var(--gridSize));
  }
}

notifications.warn {
  --notificationsHue: 0;
}

notifications h2 {
  font-weight: bold;
}

notifications.open {
  transform: translateY(0px);
}

notifications button {
  width: 100%;
  border: none;
  color: hsl(var(--notificationsHue), var(--notificationsSaturation), 75%);
  background-color: hsl(var(--notificationsHue), var(--notificationsSaturation), 3%);
  margin-bottom: 4px;
}

notifications button.secondary {
  color: hsl(var(--notificationsHue), var(--notificationsSaturation), 3%);
  background: hsl(var(--notificationsHue), var(--notificationsSaturation), 75%);
}

notifications h3 {
  font-weight: bold;
  color: black;
  margin-top: calc(var(--gridSize) * 2);
}

listings,
detail,
gameover,
settings,
howto,
page,
lesson {
  display: block;
  position: fixed;
  width: var(--standardWidth);
  height: calc(100% - var(--modalTop) - var(--gridSize));
  top: var(--modalTop);
  border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
  margin-bottom: var(--gridSize);
  overflow-y: scroll;
  max-width: var(--maxWidth);
  background: var(--listItemBackground);
  transition: 250ms ease-out all;
}

listings {
  height: calc(100% - var(--listTop) - var(--gridSize));
  top: var(--listTop);
}

details {
  height: calc(100% - var(--detailsTop) - var(--gridSize));
  top: var(--detailsTop);
}

lesson {
  position: relative;
  width: calc(var(--standardWidth) + var(--gridSize) * 4);
  height: auto;
  padding: 0px calc(var(--gridSize) * 2) calc(var(--gridSize) * 2);
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  background: var(--lessonBackground);
  box-shadow: 0px 0px 20px hsla(var(--hue), var(--saturation), 50%, 1);
  border-radius: var(--borderRadius);
}

page {
  height: calc(100% - var(--listHeaderTop) - var(--gridSize) - var(--gridSize));
  background: var(--patina);
  top: var(--listHeaderTop);
  border-radius: var(--borderRadius);
  transition: 250ms ease-out all;
}

page {
  display: block;
  position: fixed;
  transform: translateX(0px);
}

pagewrap {
  display: block;
  padding: calc(var(--gridSize) * 2);
}

lesson h1,
lesson h2,
pagewrap h1,
pagewrap h2 {
  display: block;
  position: relative;
  width: initial;
  margin: initial;
}

page commodity {
  background: transparent;
}

page commodity:first-of-type {
  border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
}

page commodity.gifted {
  color: var(--patina);
  background: var(--accentColor);
}

.hide {
  opacity: 0;
  transform: translateX(100px);
  pointer-events: none;
}

.showDetails listheader,
.gameover listheader,
.showSettings listheader,
.showDetails page,
.gameover page,
.showSettings page,
.showDetails listings,
.gameover listings,
.showSettings listings,
.showSettings info bank {
  overflow: hidden;
  opacity: 0.1;
  pointer-events: none;
}

.showDetails listheader.hide,
.gameover listheader.hide,
.showSettings listheader.hide,
.showDetails page.hide,
.gameover page.hide,
.showSettings page.hide,
.showDetails listings.hide,
.gameover listings.hide,
.showSettings listings.hide {
  opacity: 0;
}

.showDetails main,
.gameover main {
  pointer-events: none;
}

commodity,
listheader {
  display: block;
  overflow: hidden;
  margin: 0px 0px 0px 0px;
  font-weight: bold;
  color: var(--listItemColor);
  transform: translate3d(0, 0, 0);
  background: transparent;
  filter: blur();
  /* text-shadow: 0px 0px 10px cyan; */
  /* border-radius: 6px; */
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;

  cursor: pointer;
  transition: 250ms ease-out background-color;
}

commodity.unitsOwned {
  background: black;
  border-bottom: 1px solid hsl(var(--hue), var(--saturation), 20%);
}

commodity.unitsOwned::before {
  display: block;
  position: absolute;
  width: 4px;
  height: 100%;
  content: '';
  background: var(--appColor);
}

commodity img {
  float: left;
  width: 34px;
  margin-right: calc(var(--gridSize) * 2);
}

commodity.noneOwned img,
commodity.watched img {
  float: none;
  width: 234px;
  height: 193.438px;
  margin: calc(var(--gridSize) * 4) auto 0px;
}

commodity.selected {
  transition: 50ms ease-out background-color;
  background: var(--listItemBackgroundHover);
}

commodity.categoryHeader {
  border: 0px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(var(--listHeaderBackground), hsla(var(--hue), var(--saturation), 25%, 0) 80%);
  border-top: 1px solid var(--listCategoryHeaderBorderColor);
  cursor: default;
  margin-top: 0px;
  border-radius: 0px;
  padding-bottom: 2px;
  letter-spacing: 2px;
  transition: 250ms ease-out background-color;
  /* text-shadow: 0px 8px 8px rgb(0 0 0); */
}

commodity.categoryHeader img {
  display: none;
}

goldbacking {
  display: block;
  padding: 11px var(--standardPadding) 9px;
  background-color: transparent;
  transition: 2250ms ease-out 500ms background-color;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

commodity.justChanged goldbacking {
  background-color: var(--goldFlashColor);
  transition: 50ms ease-out background-color;
}

commodity.categoryHeader:first-of-type {
  margin-top: 0px;
}

commodity:last-of-type {
  margin-bottom: calc(var(--gridSize) * 6);
  border-radius: 0px 0px var(--borderRadius) var(--borderRadius);
}

commodity.categoryHeader category {
  width: 100%;
}

.sortByPrice commodity.categoryHeader {
  display: none;
}

commodity.categoryHeader name,
commodity.categoryHeader symbol,
commodity.categoryHeader currentPrice,
commodity.categoryHeader market,
commodity.categoryHeader units,
commodity.categoryHeader currentValue,
commodity.categoryHeader contractSize,
commodity.categoryHeader contractUnit,
commodity.categoryHeader watched {
  display: none;
}

name:before {
  display: block;
  position: absolute;
  font-size: 7px;
  margin-left: -10px;
  margin-top: 4px;
}

.showColor commodity.up currentPrice {
  font-weight: bold;
  color: var(--upColor);
}

.up name:before {
  color: var(--upColor);
  content: '◥';
}

.showColor commodity.down currentPrice {
  font-weight: bold;
  color: var(--downColor);
}

.down name:before {
  color: var(--downColor);
  content: '◢';
}

listheader {
  display: block;
  position: fixed;
  z-index: 100;
  width: var(--standardWidth);
  padding: 0px 0px 0px 0px;
  font-size: 80%;
  text-transform: uppercase;
  color: var(--appColor);
  cursor: pointer;
  max-width: var(--maxWidth);
  top: var(--listHeaderTop);
  border-bottom: 1px solid var(--appColor);
  /* font-weight: bold; */
  background: var(--listHeaderBackground);
  border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
  letter-spacing: 2px;
  text-shadow: 0px -1px 0px black;
  transition: 250ms ease-out transform, 250ms ease-out opacity, 150ms ease-out background-color;
}

listheader goldbacking {
  padding: 6px var(--standardPadding) 0px;
}

listheader .sortedBy {
  color: white;
}

listheader .sortedBy:before {
  display: block;
  position: fixed;
  z-index: 1;
  font-size: 10px;
  content: '▾';
  margin-left: -10px;
  margin-top: -1px;
}

listheader category,
listheader name,
listheader units,
listheader watched,
listheader currentPrice,
listheader comSymbol,
listheader market,
listheader currentValue,
listheader contractSize,
listheader goldbacking,
listheader contractUnit {
  padding: 11px 0px 7px;
  cursor: pointer;
}

listheader goldbacking {
  padding: 0px;
}

category,
name,
units,
watched,
currentPrice,
comSymbol,
market,
currentValue,
contractSize,
goldbacking,
contractUnit {
  display: inline-block;
  overflow: hidden;
  width: 120px;
  white-space: nowrap;
}

goldbacking {
  display: block;
  width: calc(100% - var(--standardPadding) * 2);
}

commodity units {
  width: 120px;
}

commodity category {
  display: none;
}

commodity.categoryHeader category {
  display: block;
}

name {
  display: block;
  width: auto;
}

name span {
  display: block;
  float: right;
  font-weight: normal;
}

listheader name {
  display: inline-block;
  width: 51px;
  padding-right: calc(var(--gridSize) * 2);
  padding-left: calc(var(--gridSize) * 2);
}

listheader units {
  width: 70px;
}

listheader currentPrice {
  width: 60px;
}

comSymbol {
  width: 40px;
}

currentPrice {
  width: 120px;
}

unit {
  line-height: 100%;
}

/* DETAIL and GAMEOVER SECTIONS */

detail,
gameover,
settings,
howto {
  position: fixed;
  z-index: 100;
  overflow: auto;
  width: calc(100% - (var(--standardPadding) * 4));
  height: calc(100% - var(--modalTop) - (var(--gridSize) * 2));
  padding: calc(var(--gridSize) * 2);
  color: white;
  opacity: 0;
  top: 100%;
  max-width: 440px;
  pointer-events: none;
  border-radius: 10px 10px 0px 0px;
  background: var(--modalBackground);
  box-shadow: 0px 0px 40px hsla(var(--hue), var(--saturation), 50%, 1);
  margin-left: calc(var(--gridSize));
}

detail category,
detail name,
detail units,
detail currentprice,
detail comsymbol,
detail market,
detail currentcalue,
detail contractsize,
detail description,
detail goldbacking,
detail contractunit {
  display: block;
  width: 100%;
  line-height: 150%;
  margin-bottom: var(--gridSize);
}

detail description {
  margin-bottom: calc(var(--gridSize) * 2);
}

.showHowTo howto,
.showSettings settings,
.showDetails detail,
.gameover gameover {
  /* display: block; */
  opacity: 1;
  pointer-events: all;
  top: calc(var(--modalTop) + var(--gridSize));
}

.showDetails detail {
  top: calc(var(--modalTop) + var(--gridSize) * 3);
}

gameover {
  display: flex;
  width: calc(100% - (var(--standardPadding) * 3));
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--gridSize));
    align-items: center;

    h1,
    p {
      margin: 0;
      padding: 0;
    }

    h2 {
      color: var(--accentColor);
    }
  }
}

detail button,
gameover button {
  width: 100%;
  font-size: 0.9em;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: calc(var(--gridSize) / 2);
}

detail button {
  max-width: 225px;
}

gameover button.first {
  margin-top: 4em;
}

detail button:last-of-type {
  margin-bottom: calc(var(--gridSize) * 2);
}

navcontrols {
  display: block;
  position: absolute;
  z-index: 100;
  width: var(--standardWidth);
  height: 40px;
  text-align: right;
}

tutorial navcontrols {
  width: calc(var(--standardWidth) - var(--gridSize) * 2);
}

settings button.close,
howto button.close,
detail button.close,
tutorial button.close,
detail.hasImage button.close {
  position: fixed;
  width: 50px;
  height: 50px;
  padding: 4px;
  border: none;
  font-size: 1.5em;
  line-height: 0;
  text-align: center;
  color: var(--appBackground);
  background-color: var(--patina);
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  margin-left: 390px;
}

button.close:before,
howto button.close:before,
detail button.close:before,
tutorial button.close:before {
  display: block;
  position: absolute;
  width: auto;
  text-align: center;
  content: '✕';
  margin-left: 12px;
}

tutorial button.close {
  display: inline-block;
  position: relative;
  margin: var(--gridSize) 0px 0px 0px;
}

detail img {
  float: right;
  width: 190px;
  height: 248px;
  margin-left: var(--gridSize);
  margin-top: var(--gridSize);
}

detail.hasImage button {
  width: 100%;
}

detail name,
detail h1 {
  display: block;
  position: relative;
  width: 100%;
  font-family: var(--logoFont);
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  margin-top: calc(var(--gridSize) * 4);
  margin-bottom: calc(var(--gridSize) * 2);
  pointer-events: none;
}

history {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100px;
  cursor: default;
}

commodity history {
  float: right;
  width: auto;
  height: 20px;
  transform: translateY(14px);
  max-width: 60px;
  border-bottom: 1px solid var(--darkAppColor);
}

commodity history bar {
  float: left;
  width: 4px;
}

bar {
  display: block;
  float: right;
  width: 6px;
  height: 100%;
  background-color: var(--darkAppColor);
  margin-right: 1px;
  border-radius: calc(var(--borderRadius) / 2) calc(var(--borderRadius) / 2) 0px 0px;
  /* transition: 1000ms ease-out height; */
}

bar.short {
  border-radius: 0px;
}

bar.purchased {
  background: var(--appColor);
}

bar.sold {
  background: var(--accentColor);
}

bar.purchased.sold {
  background: repeating-linear-gradient(-45deg, var(--appColor) 0px, var(--appColor) 4px, var(--accentColor) 4px, var(--accentColor) 8px);
}

commodity bar.purchased.sold {
  background: repeating-linear-gradient(-45deg, var(--appColor) 0px, var(--appColor) 2px, var(--accentColor) 2px, var(--accentColor) 4px);
}

axis {
  display: block;
  clear: both;
  color: var(--appColor);
  border-bottom: 1px solid var(--listHeaderBackground);
  margin-bottom: calc(var(--gridSize) * 2);
}

axis:first-of-type {
  border: none;
  margin-bottom: 0px;
}

axisclear {
  display: block;
  clear: both;
}

gameover button {
  font-size: 1.2em;
}

/* GAME OVER SECTION */

settings h2,
settings h3,
settings p,
howto h2,
howto h3,
howto p,
gameover h2,
gameover h3,
gameover p {
  text-align: center;
}

settings,
howto {
  z-index: 2001;
}

settings h1,
howto h1 {
  color: var(--appColor);
}

gameover h1,
howto h1,
details h1,
settings h1,
tutorial h1 {
  position: relative;
  width: 100%;
  margin-top: calc(var(--gridSize) * 4);
}

settings h1,
howto h1 {
  margin-top: calc(var(--gridSize) * 4);
}

settings h2,
howto h2 {
  margin-top: calc(var(--gridSize) * 4);
  margin-bottom: var(--gridSize);
}

settings h3,
howto h3 {
  margin-bottom: var(--gridSize);
}

settings p,
howto p {
  margin-top: calc(var(--gridSize));
}

howto p:last-of-type {
  margin-bottom: calc(var(--gridSize) * 8);
}

settings colors {
  display: flex;
  margin-top: var(--gridSize);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 0 100%;
  gap: calc(var(--gridSize) * 1);
}

settings color {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(50px);
  height: calc(50px);
  border: 2px solid black;
  border-color: var(--modalBackground);
  font-weight: bold;
  text-align: center;
  color: black;
  opacity: 1;
  cursor: pointer;
  border-radius: 50%;
  transition: 150ms ease-out all;
}

settings color:hover {
  opacity: 1;
}

settings color.selected {
  opacity: 1;
  border-color: white;
  /* box-shadow: 0px 0px 10px var(--accentColor); */
}

settings button,
howto button {
  display: none;
}

settings button {
  width: 100%;
}

.showSettings settings button,
.showHowTo howto button {
  display: block;
}

navbar {
  display: flex;
  position: fixed;
  z-index: 20;
  width: calc(var(--standardWidth) - var(--gridSize) * 4);
  height: calc(var(--gridSize) * 6);
  margin: 0px calc(var(--gridSize) * 2);
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;
  max-width: calc(var(--maxWidth) - var(--gridSize) * 4);
  bottom: 0px;
  background: linear-gradient(hsla(var(--hue), var(--saturation), 40%, 1) 0%, hsla(var(--hue), var(--saturation), 5%, 1) 100%);
  border-radius: var(--borderRadius) var(--borderRadius) 0px 0px;
  box-shadow: 0px 0px 10px black;
  border-top: 1px solid white;
  border-left: 1px solid var(--appColor);
  border-right: 1px solid var(--appColor);
}

navbar button {
  display: inline;
  width: 30%;
  height: calc(100% - var(--gridSize));
  padding: 0px;
  border: none;
  font-size: 1em;
  text-transform: uppercase;
  color: var(--appColor);
  background: transparent;
  letter-spacing: 2px;
  padding-top: 0px;
}

navbar button span {
  display: block;
  position: absolute;
  width: inherit;
  margin: 0px;
  padding: 0px;
  font-size: 0.6em;
  line-height: 0%;
  text-align: center;
  margin-top: -4px;
}

navbar button span:last-of-type {
  margin-top: 4px;
}

navbar button.isSelected {
  color: white;
  cursor: default;
}

navbar button.isSelected::before {
  display: block;
  position: absolute;
  margin: calc(var(--gridSize) * -2) 12.5% 0px;
  content: '▼';
}

navbar button.highlighted {
  color: var(--accentColor);
  text-shadow: 0px -1px 0px var(--patina);
  cursor: pointer;
}

/* MEDIA SCREEN MAX WIDTH 500px */

@media only screen and (max-width: 500px) {
  listheader {
    height: 37px;
  }

  body {
    /* font-size: 0.9em; */
    margin: 0px var(--gridSize);
  }

  splash img {
    width: 120px;
    height: 99.188px;
  }

  splash button,
  tutorial button {
    width: calc(100% - var(--gridSize) * 8);
    margin: 4px calc(var(--gridSize) * 4);
  }

  splash button:first-of-type,
  tutorial button:first-of-type {
    margin: calc(var(--gridSize) * 4) calc(var(--gridSize) * 4) 4px;
  }

  lesson {
    width: calc(100% - var(--gridSize) * 4);
    border-radius: 0px;
  }

  bank span::after {
    font-size: 18px;
  }

  subhead {
    top: 5em;
  }

  networth {
    font-size: 4em;
    border-radius: var(--borderRadius);
  }

  listheader {
    width: var(--standardWidth);
    max-width: auto;
  }

  listings {
    height: calc(100% - var(--listTop) - var(--gridSize));
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  gameover {
    width: calc(100% - (var(--standardPadding) * 4));
  }

  commodity name:before {
    font-size: 5px;
    margin-top: 5px;
    margin-left: -9px;
  }

  detail img {
    width: 112px;
    height: 146px;
  }

  detail.hasImage button {
    width: 173px;
    /* width: 100%; */
  }

  detail button {
    max-width: none;
    width: 100%;
  }

  detail button.close,
  detail.hasImage button.close,
  settings button.close,
  tutorial button.close,
  howto button.close {
    margin-left: auto;
    right: calc(var(--standardPadding) * 2);
  }

  settings color {
    min-width: calc(60px);
    height: calc(60px);
  }

  tutorial button.close {
    margin: var(--gridSize) 0px 0px 0px;
    display: inline-block;
    position: relative;
    right: 0px;
  }

  navbar button span:last-of-type {
    margin-top: 6px;
  }
}
